.testimonials {
	min-height: 340px;
		background-image: url(../img/slide_1.png);
	background-position: center center;
	background-repeat: none;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}